/* MODULES */
 .removed {
    display: none;
}
.lead { color: #fff; }
  .padding-extended {
      padding: 7rem 0;
  }

/* ^HEADER	    */
 .header-main {
     background-image: url("../img/insuranceAgentSmall.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     margin: 0;
     height: 90hv;
     width: 100%;
     position: relative;
     z-index: 1;
    }

    .header-main::after {
        position:absolute;
        z-index:-1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content: "";
        background: rgba(0, 0, 0, 0.8);
      }
         
/* NAVBAR */
.navbar { 
     margin: 0;
     padding: 0;
   }
.nav-main {
    background-color: transparent;
   }
   .nav-main a:link,
   .nav-main a:visited{
       color: #fff;
   }
   .nav-main a:hover,
   .nav-main a:focus {
       color: #DC3545;
    }
.navbar-toggler i {
    color: #FFF;
}
.navbar-nav {
    background-color: #343A40;
}
   .navbar-nav li a:link,
   .navbar-nav li a:visited {
       text-align: center;
       padding: 15px 0;
   }
.nav li a:link,
.nav li a:visited {
     padding:  10px 10px 5px;
     text-align: center;
     color: #ccc;
}
.nav li a:hover,
.nav li a:focus {
    color: #DC3545;
}
/* Jumbo */

.section-jumbo {
    padding:0;
    background-color: transparent;
   margin: 0;
   z-index: -100;
  }

/* icon */

  .fa-primary {
    font-size: 1.44rem;
    color: #DC3545;
    margin-bottom: .845rem;
    padding: .635rem .835rem;
}

.fa-primary-border {
    border-radius: 5px;
    border: 1px solid #DC3545;
}
.fa-check {
    margin-right: 5px;
    font-size: 1rem;
    color: #DC3545;
    margin: .645rem auto;
}

/* button */
.btn-outline-custom {
    background-color: transparent;
    color: #DC3545;
    border: 2px solid #DC3545;
}
.btn-outline-custom:hover,
.btn-outline-custom:focus {
    color: #fff;
    background-color: #dc3545;
}

/* List */
ul.list { padding: 0; margin-top: 25px;}

.list li {
    line-height: 1rem;
    border-bottom: 1px dotted #ccc;
    list-style-type: none;

}
.list li:last-child {
    border-bottom: 0;
}
.list span {
    font-size: 1rem;  
}

/* Block */
.block {
    padding: .85rem;
    border: 1px solid #DFDFDF;
    margin-bottom: 0.85rem;
}
.services-block {
    border: none;
 }
