/* MODULES */
 .img-removed {
    display: none;
}
.lead { color: #fff; }
  .padding-extended {
      padding: 7rem 0;
  }
.bg-lightgrey {
    background-color: #F4F4F4;
}

/* ^HEADER	    */
 .header-main {
     background-image: url("../img/insuranceAgentSmall.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     margin: 0;
     height: 90hv;
     width: 100%;
     position: relative;
     z-index: 1;
    }

    .header-main::after {
        position:absolute;
        z-index:-1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content: "";
        background: rgba(0, 0, 0, 0.8);
      }
        
/* NAVBAR */
.navbar { 
     margin: 0;
     padding: 0;
   }
.nav-main {
    background-color: transparent;
   }
   .nav-main a:link,
   .nav-main a:visited{
       color: #fff;
   }
   .nav-main a:hover,
   .nav-main a:focus {
       color: #DC3545;
    }
.navbar-toggler i {
    color: #FFF;
    font-size: 140%;
}
.navbar-nav {
    background-color: #343A40;
}
   .navbar-nav li a:link,
   .navbar-nav li a:visited {
       text-align: center;
       padding: 15px 0;
   }
.nav li a:link,
.nav li a:visited {
     padding:  10px 10px 5px;
     text-align: center;
     color: #ccc;
}
.nav li a:hover,
.nav li a:focus {
    color: #DC3545;
}
/* Jumbo */

.section-jumbo {
    padding:0;
    background-color: transparent;
   margin: 0;
   z-index: -100;
  }

  .padding-extended {
      padding: 7rem 0;
  }
  .fa-custom {
    font-size: 1.44rem;
    color: #DC3545;
    margin-bottom: .845rem;
    padding: .635rem .835rem;
}

.fa-custom-border {
    border-radius: 5px;
    border: 1px solid #DC3545;
}
.fa-check {
    margin-right: 5px;
    font-size: 1rem;
    color: #DC3545;
    margin: .645rem auto;
}

/* button */
.btn-outline-custom {
    background-color: transparent;
    color: #DC3545;
    border: 2px solid #DC3545;
}
.btn-outline-custom:hover,
.btn-outline-custom:focus {
    color: #fff;
    background-color: #dc3545;
}

.btn-outline-custom-reverse {
    color: #fff;
    background-color: #dc3545;
}
.btn-outline-custom-reverse:hover,
.btn-outline-custom-reverse:focus {
    background-color: transparent;
    color: #DC3545;
    border: 2px solid #DC3545;
}
/* List */
ul.list { 
    padding: 0; 
    margin-top: 25px;
}

.list li {
    line-height: 145%;
    border-bottom: 1px dotted #ccc;
    list-style-type: none;

}
.list li:last-child {
    border-bottom: 0;
}
.list span {
    font-size: 1rem;  
}
/* COPY */
.copy p {
    color: #ccc;
    font-size: 75%;
    padding: 10px 10px 0;
}
.copy a:link,
.copy a:visited {
    color: #4C88C9;
    text-decoration: underline;
}

.copy a:hover,
.copy a:focus {
    color: #dc3545;
}

/* Block */
.block {
    padding:10px .55rem;
    border: 1px solid #DFDFDF;
    margin-bottom: 0.55rem;
    text-align: center;
}
.services-block {
    border: none;
 }
.bg-lightgrey {
    background-color: #F4F4F4;
}
/* Testimonials section */
.testimonials {
    background-image: url("../img/calculator-large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 1;
    color: #fff;
}
.testimonials::after {
    position:absolute;
    z-index:-1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, 0.8);
  }
.quote {
    font-size: 90%;
    font-style: oblique;
    margin-top: 15px;
}

.testimonials-block {
    border: none;
}
.foter {
    font-size: 75%;
}

/* TERMS */

.header-banner  {
        background-image: url("../img/calculator-large.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        margin: 0;
        width: 100%;
        position: relative;
        z-index: 1;
        color: #fff;
    }
    .header-banner::after {
        position:absolute;
        z-index:-1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content: "";
        background: rgba(0, 0, 0, 0.9);
      }

    .address li {
        list-style-type: none;
    }
    .address > small {
        padding-bottom: 20px;
    }
    .breadcrumb {
        background-color: transparent;
        font-size: 90%;
        font-weight: 300;
        z-index: 10;
    }
    .breadcrumb li a:link,
    .breadcrumb li a:visited {
        color: #fff;
    }
    .breadcrumb li a:hover,
    .breadcrumb li a:focus {
        color: #dc3545;
    }
    .breadcrumb li.active {
        color: #DC3545;
    }
 .nav li  a.active:link,
 .nav li a.active:visited {
    color: #DC3545;

 }
 .section-referral-how {
     padding: 0 15px;
 }
.referral-list li {
    list-style: none;
}
.card-link:hover {  /* ovewrite bootsrap  */
    text-decoration: none;
    color: #DC3545;
}
.insurance-main img {
    width: 13%;
}
.pdf-links li {
    list-style-type: none;
    margin-bottom: 20px;
}
.pdf-links li:last-child {
    margin-bottom: 5px;
}
.pdf-links a{
    font-size: 85%;
}
.pdf-links img {
    margin-right: 10px;
}
@media screen and (min-width: 768px) {
    .lead {
        font-size: 1.65rem;
    }
    .navbar-nav {
        background-color: transparent;
    }
    
    .navbar-nav li a:link,
    .navbar-nav li a:visited {
        padding: 25px 0;
        font-size: 1.25rem;
        font-weight: 300;
    }   
 
 .img-removed {
        display: block;
    }
  .header-main {
        height: 100vh;
     }
  .fa-custom {
       font-size: 1.84rem;
       padding: .835rem .1.035rem;
    }
  
  .fa-check {
       margin-right: 20px;
       font-size: 1.25rem;
       margin: .845rem auto;
    }

    .fa-social {
        font-size: 1.555rem;
    }
    
    .section-referral .block-icon .fa-custom {
        font-size: 5rem;
        padding: .835rem .1.035rem;
    }
    .section-referral .block-icon {
        padding-top: 20px;
    }
  .list span {
     font-size: 1.15rem;  
     font-weight: 300;
   }

.block {
    padding: 15px .75rem;
    margin-bottom: 0.75rem;
  }
.quote {
    font-size: 100%;
 }
 }
