/* ^HEADER	    */
 
.header-main {
    background-image: url("../img/insuranceAgentSmall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    height: 100hv;
    width: 100%;
    position: relative;
    z-index: 1;
  }
    .header-main::after {
        position:absolute;
        z-index:-1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content: "";
        background: rgba(0, 0, 0, 0.8);
      }

 /* Navbar nav */

.nav-main {
    background-color: transparent;
}
   .nav-main a:link,
   .nav-main a:visited{
       color: #fff;
   }
   .nav-main a:hover,
   .nav-main a:focus {
       color: #DC3545;
   }
.navbar-toggler i {
    color: #FFF;
}
.navbar-nav {
    background-color: #343A40;
}
.navbar-nav li a:link,
.navbar-nav li a:visited {
    text-align: center;
    padding: 15px 0;
}

/* MODULES */
.lead {
    color: #fff;
}
